/* Navbar */
.navbar-default {
    background-color: #000000 !important;
}

.navbar-default:hover {
    background-color: #000000 !important;
}

.navbar-default .navbar-brand {
    color: #61c336;
}

/* Panel */
.panel-body {
    border: 3px;
    width: "100%";
    height: "100%";
    border-color: #61c336;
}

.panel-heading {
    padding: 10px;
    box-shadow: 1px 3px 6px 0px rgb(96 96 96);
    border-radius: 0px;
    font-weight: bold;
    font-size: large;
    border-color: #61c336;
}
